.vscode/**
.vscode-test/**
.kilo/**
out/**
node_modules/**
!node_modules/sql.js
!node_modules/sql.js/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
